<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header :: header"/>
    <body>
        <div th:replace="fragments/navigation :: navigation"/>
        <!-- Page Content -->
        <div th:replace="fragments/profile :: profile"/>
        <div class="container">

            <div>
                <label>Logout:</label>
                <a href="/logout">Logout</a>
            </div>
            <p>
                <h2>
                    <span th:text="${date}"></span>
                </h2>
            </p>
        </div>
        <!-- /.container -->
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>


