<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>
<!-- Page Content -->
<div class="container">
    <p>
        Welcome to CSYE 6225 Spring 2018 Semester!!!
    </p>
    <label>Back to Login:</label>
    <a href="/">Click here</a>
    <form action="/resetPassword" method="post">
        <div>
            <label>EmailID:</label>
            <input type="email" placeholder="Enter emailID" name="emailID" required=""/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>


