<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header :: header"/>
    <body>
        <div th:replace="fragments/navigation :: navigation"/>
        <!-- Page Content -->
        <div class="container">
            <p>
                Create Account:
            </p>
            <form action="/createAccount" method="post">
                <div>
                    <label>EmailID:</label>
                    <input type="email" placeholder="Enter emailID" name="emailID" required=""/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" placeholder="Enter password" name="password" required=""/>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <!-- /.container -->
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>


